.container{
    display:flex;
    
    
}

.card{
    width:100% !important;
    margin:10px;
}
.cardstyle{
    height:300px;
    width:200px;
    margin:10px !important;
}

.card-img{
    display:flex;
    height: 400px;
    width:400px;
    
}